Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

!*fading:                          15
*fadeColor:                       black
*pointerColorBackground:          #2B2C2B
*pointerColorForeground:          #16A085

Xcursor.theme: xcursor-breeze
Xcursor.size:                     0

URxvt.font:                       xft:Terminus (TTF):pixelsize=14
URxvt.depth:                      32
URxvt*scrollBar:                  false
URxvt*mouseWheelScrollPage:       false
URxvt*cursorBlink:                true
URxvt*saveLines:                  5000

! COLORS
*.foreground:   #505354
*.background:   #1b1d1e
*.cursorColor:  #e4e6d8

! black
*.color0:       #1b1d1e
*.color8:       #505354

! red
*.color1:       #f92672
*.color9:       #f92672

! green
*.color2:       #82b414
*.color10:      #82b414

! yellow
*.color3:       #fd971f
*.color11:      #fd971f

! blue
*.color4:       #4e82aa
*.color12:      #4e82aa

! magenta
*.color5:       #8c54fe
*.color13:      #8c54fe

! cyan
*.color6:       #465457
*.color14:      #465457

! white
*.color7:       #ccccc6
*.color15:      #ccccc6
! COLORS
