:root {
  --bg: #0E0703;
  --fg: #909da5;
  --blk: #0E0703;
  --red: #A15115;
  --grn: #D45F05;
  --ylw: #907356;
  --blu: #F68D0C;
  --mag: #D5C469;
  --cyn: #6E8F94;
  --wht: #cee1ed;
  --bblk: #909da5;
  --bred: #A15115;
  --bgrn: #D45F05;
  --bylw: #907356;
  --bblu: #F68D0C;
  --bmag: #D5C469;
  --bcyn: #6E8F94;
  --bwht: #cee1ed;
} 
